{% extends 'base.html.twig' %}
{% block title %}Voulez-vous supprimer ce produit ? | {{parent()}}{% endblock %}
{% block main %}
<section class="section">
    <div class="centred">
        <h1 class="produit-title">{{produit.title}}</h1>
        <div class="produit-price">{{produit.pricettc}} AR</div>
        <div class="produit-image">
          {%for img in produit.images%}
          <img src="{{img.url}}" alt="{{img.url}}">
          {%endfor%}
        </div>
        <div class="produit-description">{{produit.description}}</div>
        {{form_start(form)}}
        	{{form_errors(form)}}
          {{form_widget(form)}}
          <div class="text-center" style="padding-top:20px">
            <h2>Voulez-vous supprimer ce produit ?</h2>
        		<button type="submit">Oui, supprimer</button>
            <a href="{{path('sfb_site_my_product_list')}}" class="btn btn-secondary">Retour à la liste</a>
          </div>
        {{form_end(form)}}
        <div class="text-center">
        </div>
    </div>
</section>
{% endblock %}