{% extends 'base.html.twig' %}
{% block title %}Modifier le compte du @{{user.username}} | {{parent()}}{% endblock %}
{% block main %}
<section class="section">
    <div class="centred">
        <h1>Modifier le compte du @{{user.username}}</h1>
        {{form_start(form)}}
	        {{form_errors(form)}}
	        {{form_widget(form)}}
	        <div class="text-center">
	        	<button type="submit">Enregister</button>
	        </div>
        {{form_start(form)}}
        <div class="text-center">
        	<a href="{{path('sfb_site_user_list')}}">> Retour à la liste</a>
        </div>
    </div>
</section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
